.ZH{
    color: white;
   gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
     height: 100vh; 
   
}
.ZH button{
    color: white;
    background: blueviolet;
    padding: 10px 35px;
    border-radius: 20px;
border-top-right-radius: 0px;
 transition: 0.5s;}

.ZH button:hover{
    border-radius: 20px;
    color: aqua;
    cursor: pointer;
    transition: 0.5s;
}
.animate{
    opacity: 0;
    transform: translateY(30px);
    animation: moveUp 1s linear forwards;
}
@keyframes moveUp{
    100%{
        opacity: 100;
        transform: translateY(0px);
    }
}